spring:
  docker:
    compose:
      enabled: false
  application:
    name: construcao-de-software-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: myuser
    password: mypassword
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          cognito:
            client-id: 23kahvodovtr718hon0b5r6cag
            client-secret: <client secret>
            scope:
              - phone
              - openid
              - email
            redirect-uri: http://localhost:8080/users/healthz
        provider:
          cognito:
            issuerUri:  https://cognito-idp.us-east-1.amazonaws.com/us-east-1_cJESLfNJj
            user-name-attribute: username
