spring:
  docker:
    compose:
      enabled: false
  application:
    name: construcao-de-software-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: myuser
    password: mypassword
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: https://cognito-idp.<regiao>.amazonaws.com/<user-pool-id>
app:
  reports:
    bucket: nome-do-teu-bucket-s3
