name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Dar permissão ao Gradle Wrapper
        run: chmod +x ./gradlew

      - name: Build do projeto (Gradle)
        run: ./gradlew build -x test

      - name: Debug secrets
        run: |
          echo "USER:'${{ secrets.DOCKERHUB_USERNAME }}'"
          echo "TOKEN:'${{ secrets.DOCKERHUB_TOKEN }}'"


      - name: Login no DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build da imagem Docker
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/sdf-app:latest .

      - name: Push da imagem
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/sdf-app:latest

      - name: Deploy na EC2 via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user/app
            docker compose pull
            docker compose up -d
            docker image prune -f
